<style>
    body {
        background-color: #add8e6;
    }

    h1, h2 {
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: #0074e4;
    }
</style>

<h1>Bem Vindo!</h1>
<h2>Lista de Pacientes</h2>

<ul>
  <% @pacientes.each do |paciente| %>
    <li><%= link_to paciente.nome_completo, paciente %></li>
  <% end %>
</ul>

<%= link_to 'Novo Paciente', new_paciente_path %>
<%= link_to 'Voltar para à Home Page', root_path %>
