<style>
    body {
        background-color: #add8e6;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #333;
    }

    a {
        text-decoration: none;
        color: #0074e4;
    }
</style>

<h1>Novo Paciente</h1>

<%= render 'form' %>

<%= link_to 'Voltar', pacientes_path %>
