<h1>Bem-vindo ao Sistema Consulta Sim</h1>
<p>Escolha uma das funcionalidades abaixo:</p>

<ul>
  <li><%= link_to 'Pacientes', pacientes_path %></li>
  <li><%= link_to 'Médicos', medicos_path %></li>
  <li><%= link_to 'Consultas', consultas_path %></li>
</ul>
