<!DOCTYPE html>
<html>
<head>
  <title>ConsultaSim</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #e0e9f1;
          text-align: center;
      }

      h1 {
          color: #333;
          margin-top: 40px;
      }

      p {
          font-size: 18px;
          margin: 20px 0;
      }

      ul {
          list-style: none;
          padding: 0;
      }

      li {
          margin: 30px 0;
      }

      a {
          text-decoration: none;
          background-color: #007BFF;
          color: #fff;
          padding: 10px 20px;
          border-radius: 5px;
      }

      a:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>
<h1>Bem-vindo ao Sistema ConsultaSim!</h1>
<p>Escolha uma das funcionalidades abaixo:</p>

<ul>
  <li><%= link_to 'Pacientes', pacientes_path %></li>
  <li><%= link_to 'Médicos', medicos_path %></li>
  <li><%= link_to 'Consultas', consultas_path %></li>
</ul>
</body>
</html>
